body {
    background-color:#eee060;
    text-align: center;
}
h1 {
    border: 2px dashed rgb(33, 48, 131); color: rgb(32, 38, 114);
    font-size: 40px;
}
h2{
    font-size: 35px;
}
section#contact{
    font-size: 25px;
}
li{
    font-size: 25px;
}
img.boom {
    width: 500px;
    height: 600px;
}
a {
    color: darkslategrey;
}